<!DOCTYPE html>
<html>
<head>
  <title>ModelsAuditor</title>
  <%= stylesheet_link_tag 'models_auditor/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= javascript_include_tag 'models_auditor/application' %>
</body>
</html>
